# Lists

In [1]:
# Definition:
# A list can be defined as a Collection of values or items of different types and these collections are enclosed with [] 
# and Seperated by comma

Creating a List

In [2]:
list1=[19,'Rani',50.0,'Paris']
print(list1)

[19, 'Rani', 50.0, 'Paris']

# List Operations

In [3]:
# The Operations we can perfom on a list are: Adding,Accessing,Modifying
# The methods used for performing list operations are :(Append,insert,extend,index,slicing,delete,remove,pop(),clear(),reverse)

In [4]:
#Modifying the lists

1.Adding the elements into a List

In [5]:
#This can be performed by using Three methods those are: Append,Insert and Extend.

In [6]:
#Syntax of append : var.append(element)
list1.append(100)
print(list1)

[19, 'Rani', 50.0, 'Paris', 100]

In [7]:
#Syntax of Insert: var.insert(index,element)
list1.insert(1,[1,2,3])
print(list1)

[19, [1, 2, 3], 'Rani', 50.0, 'Paris', 100]

In [8]:
#Syntax of Extend: var.extend(another list)
list2=['abc',9.29]
list1.extend(list2)
print(list1)

[19, [1, 2, 3], 'Rani', 50.0, 'Paris', 100, 'abc', 9.29]

2.Accessing the element at Particular Index.

In [9]:
print(list1[2])
print(list1[1][2])
print(list1[-1])

Rani
3
9.29

3.Slicing

In [10]:
print(list1[0:3])

[19, [1, 2, 3], 'Rani']

In [11]:
print(list1[3:])

[50.0, 'Paris', 100, 'abc', 9.29]

4.Removing the elements in a List.

In [12]:
#Syntax Of delete :del var[index]
#At a particular index the element is Removed.

del list1[6]            
print(list1)

[19, [1, 2, 3], 'Rani', 50.0, 'Paris', 100, 9.29]

In [13]:
#Syntax of Remove: var.remove(element)

list1.remove(100)
print(list1)

[19, [1, 2, 3], 'Rani', 50.0, 'Paris', 9.29]

In [14]:
#Syntax of pop : var.pop() it means it removes the last element.
list1.pop()
print(list1)

[19, [1, 2, 3], 'Rani', 50.0, 'Paris']

In [15]:
list2.clear()  #which removes the entire elements in the list.
print(list2)

[]

5.Reversing a list

In [16]:
list1.reverse()
print(list1)

['Paris', 50.0, 'Rani', [1, 2, 3], 19]

# Dictionaries

In [17]:
#Definition:it can be defined as a collection of values or items of different types sorted in key-value format.
#It can be enclose with {} and the key-value are seperated with colon.

Creating a Dictionary

In [18]:
dict1={'name':'Ram','age':20,'courses':['Math','Machine Learning','Data Science']}
print(dict1)

{'name': 'Ram', 'age': 20, 'courses': ['Math', 'Machine Learning', 'Data Science']}

# Dict Operations

In [19]:
# The Operations we can perfom on a dictionaries are: Adding,Accessing,Modifying.
# The methods used for performing dict operations are :(get(),update(),del,pop(),keys(),values(),items(),clear())

1.Adding the elements into a Dictionary.

In [20]:
#Syntax : var[key]=value

dict1['id']=13
print(dict1)

{'name': 'Ram', 'age': 20, 'courses': ['Math', 'Machine Learning', 'Data Science'], 'id': 13}

2.Accesing the Particular element through Keys.

In [21]:
#Syntax of accessing in dictionary :var[key] gives the value of a particular key.

print(dict1['courses'])

['Math', 'Machine Learning', 'Data Science']

3.Modifying the value

In [22]:
dict1['age']=21
print(dict1)

{'name': 'Ram', 'age': 21, 'courses': ['Math', 'Machine Learning', 'Data Science'], 'id': 13}

In [23]:
dict1.update({'name':'Rani' })
print(dict1)

{'name': 'Rani', 'age': 21, 'courses': ['Math', 'Machine Learning', 'Data Science'], 'id': 13}

In [24]:
#The get method is used to get the value of the particular key.

print(dict1.get('name'))

Rani

In [25]:
print(dict1.get('Name'))

None

4.Removing the elements

In [26]:
#Syntax for deleting a particular value : del var[key]

del dict1['age']
print(dict1)

{'name': 'Rani', 'courses': ['Math', 'Machine Learning', 'Data Science'], 'id': 13}

In [27]:
dict1.pop('id')
print(dict1)

{'name': 'Rani', 'courses': ['Math', 'Machine Learning', 'Data Science']}

In [28]:
print(dict1.keys()) #it prints all keys present in a dictionary.

dict_keys(['name', 'courses'])

In [29]:
print(dict1.values()) #it prints all values present in a dictionary.

dict_values(['Rani', ['Math', 'Machine Learning', 'Data Science']])

In [30]:
print(dict1.items()) #it prints comma seperated key- values.

dict_items([('name', 'Rani'), ('courses', ['Math', 'Machine Learning', 'Data Science'])])

In [31]:
dict1.clear()
print(dict1)

{}

# Sets

In [32]:
#Definition:
#A set can be defined as a Collection of values or items of different types and these collections are enclosed with {}
# and Seperated by comma

Creating a set

In [33]:
set1={13,56,78,1,'cherry',100,1}
print(set1)

{1, 100, 'cherry', 56, 13, 78}

In [34]:
# The Operations we can perfom on a sets are: Adding,Accessing,removing.
# The methods used for performing set operations are :(add(ele),union,intersection,discard,clear)

 1.Adding the Elements into a Set.

In [35]:
set1.add(92) #add method is used to insert the element into sets and sets doesn't have an order ,
print(set1)                     # hence it can insert the value at any position.

{1, 100, 'cherry', 56, 92, 13, 78}

In [36]:
print(len(set1))

7

2.Accessing the Elements

In [37]:
for x in set1:  #sets are unorded.so, the items has no index .
                #that's why we are using loops to iterate each and every element present in the set. 
        print(x)

1
100
cherry
56
92
13
78

3.Set Operations

In [38]:
s1={1,2,3,4,5}         #updating can be done with two sets.
s2={7,8,9}
s1.update([6,7,8],s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
s3={1,2,3}
s4={2,4,5}
res=s3.union(s4)
print(res)

{1, 2, 3, 4, 5}

In [40]:
res2=s3.intersection(s4)
print(res2)

{2}

4.Removing the elements

In [41]:
set1.remove('cherry') #if the element is not their in a set it gives an error.
print(set1)

{1, 100, 56, 92, 13, 78}

In [42]:
set1.discard(90) #if the element is not their in a set,it does not give any error. 
print(set1)

{1, 100, 56, 92, 13, 78}

In [47]:
set1.clear()
print(set1)

set()